.btn-tc-default {
  @include button-variant(#201212, rgba(0,0,0,0), #201212);
  border: 0.1875rem solid #201212;
  text-transform: uppercase;

  &.btn-xl {
    @include button-size(1.25rem, 2.25rem, 1.5rem, 1.5rem, 0rem);
  }
  &.btn-selected {
    background: #b4b3b3;
    border: 0.1875rem solid #b4b3b3;
    color: #FFF;
  }
}

.btn-tc-default-inverse {
  @include button-variant(#FFF, rgba(0,0,0,0), #FFF);
  border: 0.1875rem solid #FFF;
  text-transform: uppercase;

  &.btn-xl {
    @include button-size(1.25rem, 2.25rem, 1.5rem, 1.5rem, 0rem);
  }
}
