// Setting the global font sizes
$base_desktop_fontsize: 16px;
$base_phablet_fontsize: 14px;
$base_tablet_fontsize: 14px;
$base_mobile_fontsize: 12px;

// Colours
$color_dark: #1f1212 !default;
$color_bg: #201212 !default;
$color_default: #FFF !default;
$color_default_light: #ededed !default;
$color_default_dark: #666 !default;
$color_default_medium: #DDD !default;

$font_default: 'brandon_grotesque_regularRg', Arial !default;
