.woocommerce {
  .woocommerce-message, address, .woocommerce-info, .woocommerce-error, .woocommerce-success {
    font-size: 1.2rem
  }
}


.woocommerce-account {
    .addresses .title .edit {
      font-size: 1.2rem;
      text-transform: uppercase;
      top: 20px;
      position: relative;
    }
}

.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
  border-color: #b4b3b3!important;
}
