.woocommerce {
  .woocommerce-message, address {
    font-size: 1.2rem
  }
}


.woocommerce-account {
    .addresses .title .edit {
      font-size: 1.2rem;
      text-transform: uppercase;
      top: 20px;
      position: relative;
    }
}
