@import "../vendor/bootstrap/stylesheets/bootstrap";
@import "../vendor/font-awesome/font-awesome";
@import "_fonts";

.btn-tc-default {
  @include button-variant(#201212, rgba(0,0,0,0), #201212);
  border: 3px solid #201212;
  text-transform: uppercase;

  &.btn-xl {
    @include button-size(1.25rem, 2.25rem, 1.5rem, 1.5rem, 0rem);
  }
}

.btn-tc-default-inverse {
  @include button-variant(#FFF, rgba(0,0,0,0), #FFF);
  border: 3px solid #FFF;
  text-transform: uppercase;

  &.btn-xl {
    @include button-size(1.25rem, 2.25rem, 1.5rem, 1.5rem, 0rem);
  }
}
.no-padding {
  padding: 0!important;
}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html { font-size: 16px; }
@media (max-width: $screen-md-min) {
    html{font-size: 14px;}
}
@media (max-width: $screen-sm-min) {
    html{font-size: 12px;}
}
body {
  padding-bottom: 2.5rem;
  color: #FFF;
  background: #201212;
  font-family: 'brandon_grotesque_regularRg', Arial;
}
.jumbotron {
  padding-top: 17.5rem;
  padding-bottom: 16.88rem;
  background: #4c531d url('../img/background.png') no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;

  h1 {
    font-family: 'brandon_grotesque_regularRg', Arial;
    font-size: 4.25rem;
    margin-bottom: 2.875rem;
  }
  p {
    font-size: 1.5rem;
  }
  a.btn-scrolldown {
    position: absolute;
    bottom: -11.25rem;
    left: 50%;
    display: block;
    margin: 0 auto;
    color:#fff;
    font-size: 4rem;
    margin-left: -22px;
  }
}
@media (max-width: $screen-sm-min) {
  .jumbotron {
      h1 {
        font-size: 3rem;
    }
  }
}
nav .navbar-header {
  margin-top: 2.125rem;
}
nav a.navbar-brand {
  text-indent: -9999px;
  background: transparent url('../img/logo.png') no-repeat;
  display: block;
  width:194px;
  height: 27px;
}
.teabox {
  padding: 2.5rem 1.25rem 2.5rem 1.25rem;
  background: white;
}
.navbar-inverse { background: none; border: 0; color: #fff; }

footer {
  padding: 2.5rem 0 0 0;

  p {
    font-size: 0.875rem;
    span {
      position: relative;
      top: -6px;
      display: inline-block;
      margin-right: 1.25rem;
    }
    a {
      color: white;
      text-decoration: none;
      margin-left: 1.25rem;

      &:hover {
        color: darken(#ffffff, 15%);
      }
    }
  }
}

.spacer {
    margin-top: 2.5rem;
}
.marketing {
  padding-bottom:3.75rem;

  p {
    font-size: 1.5rem;
    color:#666666;
  }

  .marketing-panel {
    margin-bottom: 1.25rem;
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.125rem;
    }
  }
}
.marketing img {
  display: block;
  margin: 0 auto;
}
.tearange {
  padding-top: 4.375rem;
  background: #ededed url('../img/tea-background.png') no-repeat;
  background-position: 50% 10%;
  background-size: cover;
  color:#666666;

  h2 {
    font-size: 2.875rem;
    color:#1f1212;
  }
  p {
    font-size: 1.5rem;
    color:#666666;
  }

  .teabox {
    margin-bottom: 6.25rem;

    img { max-width: 100%; }

    .teabox-info {
      padding: 1.25rem ;
    }

    h3 {
      font-size: 2rem;
      margin-top: 0;
    }
    h4, p {
      font-size: 1.125rem;
    }
  }
}
.container-fluid.socialvalidation {
  background: #dddddd;
  color:#666666;
  padding: 2.5rem 0 3.75rem 0;
}
