// Import the original Bootstrap
@import "../vendor/bootstrap/stylesheets/bootstrap";

// Font declarations
@import "_fonts";

// Variables, globals & helpers
@import "_variables";
@import "_helpers";
@import "_globals";

// Global styles specific to elements
@import "_buttons";
@import "_jumbotron";

// Page specific
@import "_homepage";
@import "_subscribe";
@import "_payment";

@import "_woocommerce";

.container-fluid.generic-content .our-range-tea p {
  margin-bottom: 5px;
  font-size: 1.1rem;
  line-height: 1.6rem;
}


.tea-categories {
  ul.list-inline {
    li {
      text-align: center;
      margin: 0 1rem;
      a {
        color: $color_default;
        font-size: 1.25rem;

        &.active, &.focus, &:hover {
          text-decoration: none;
          color:$color_default_dark;
        }
      }

      &.current-menu-item {
        background: #acacac;
        a {
          color: #fff
        }
      }
    }
  }
}


.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  float: none!important;
}

#add_payment_method #payment, .woocommerce-checkout #payment {
  background: none!important;
}

#billing_country_field, #shipping_country_field { display: none!important }

p.wc-terms-and-conditions {
  margin-bottom: 40px;
}

table.table {
  font-size: 1.2rem
}
