// Import the original Bootstrap
@import "../vendor/bootstrap/stylesheets/bootstrap";

// Font declarations
@import "_fonts";

// Variables, globals & helpers
@import "_variables";
@import "_helpers";
@import "_globals";

// Global styles specific to elements
@import "_buttons";
@import "_jumbotron";

// Page specific
@import "_homepage";
@import "_subscribe";
@import "_payment";


.container-fluid.generic-content .our-range-tea p {
  margin-bottom: 5px;
  font-size: 1.1rem;
  line-height: 1.6rem;
}


.tea-categories {
  ul.list-inline {
    li {
      text-align: center;
      margin: 0 1rem;
      a {
        color: $color_default;
        font-size: 1.25rem;

        &.active, &.focus, &:hover {
          text-decoration: none;
          color:$color_default_dark;
        }
      }
    }
  }
}
